body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #cf0945;
  color: white;
  font-family: "noto sans";
}

header {
  grid-area: header;
  font-size: 30px;
  background-color: #8f0730;
  border-right: solid white 5px;
  padding: 30px 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  -webkit-box-shadow: 0px 0px 30px #8f0730;
          box-shadow: 0px 0px 30px #8f0730;
  text-align: center;
  letter-spacing: 15px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  height: 600px;
}

main section #main-chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background-color: #ce3865;
  font-size: 20px;
  border: solid #8f0730 0px;
  -webkit-box-shadow: 0px 0px 30px #8f0730;
          box-shadow: 0px 0px 30px #8f0730;
}

main section #main-chart #prompt {
  background-color: black;
  color: white;
  width: 100%;
  padding: 40px;
  text-align: center;
  position: relative;
  top: -40px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0;
}

main section #main-chart #rgb-value {
  background-color: #8f0730;
  width: 100%;
  padding: 5px 40px 5px 40px;
  text-align: center;
  margin: 0;
  position: relative;
  top: -50px;
}

main section #main-chart #color-chart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: fr fr fr;
      grid-template-columns: fr fr fr;
  -ms-grid-rows: fr fr;
      grid-template-rows: fr fr;
      grid-template-areas: "one two three" "four five six";
}

main section #main-chart #color-chart .color-option {
  padding: 20px;
  margin: 10px;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px white;
          box-shadow: 0 0 5px white;
}

main section #main-chart #color-chart .color-option:hover {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

main section #main-chart #color-chart .color-option:active {
  -webkit-box-shadow: 0 0 5px #8f0730;
          box-shadow: 0 0 5px #8f0730;
}

main section #main-chart #color-chart #color-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  background-color: blue;
}

main section #main-chart #color-chart #color-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

main section #main-chart #color-chart #color-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: three;
}

main section #main-chart #color-chart #color-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: four;
}

main section #main-chart #color-chart #color-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: five;
}

main section #main-chart #color-chart #color-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: six;
}

main section #main-chart #main-chart-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}

main section #main-chart #main-chart-bottom .button-1 {
  background-color: black;
  cursor: pointer;
  padding: 8px;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

main section #main-chart #main-chart-bottom .button-1:hover {
  background-color: gray;
  -webkit-box-shadow: 0 0 5px gray;
          box-shadow: 0 0 5px gray;
}

aside #settings-chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background-color: #ce3865;
  font-size: 20px;
  border: solid #8f0730 0px;
  -webkit-box-shadow: 0px 0px 30px #8f0730;
          box-shadow: 0px 0px 30px #8f0730;
  width: 200px;
}

aside #settings-chart #settings {
  background-color: #8f0730;
  width: 100%;
  height: 90px;
  line-height: 90px;
  padding: 0 40px 0 40px;
  text-align: center;
  position: relative;
  top: -40px;
  letter-spacing: 3px;
}

aside #settings-chart .setting {
  cursor: pointer;
  width: 100%;
  padding: 0 40px 0 40px;
  text-align: center;
}

aside #settings-chart .setting:hover {
  -webkit-box-shadow: 0px 0px 30px #8f0730;
          box-shadow: 0px 0px 30px #8f0730;
}

aside #settings-chart .setting-language, aside #settings-chart .setting-difficulty, aside #settings-chart .setting-color, aside #settings-chart .setting-visuals, aside #settings-chart .setting-sounds {
  display: none;
  font-size: 18px;
  margin: 5px 0 5px 0;
  text-align: left;
  width: 100%;
  padding: 0 40px 0 40px;
  border-bottom: dotted #8f0730 2px;
  cursor: pointer;
}

aside #settings-chart .setting-language:hover, aside #settings-chart .setting-difficulty:hover, aside #settings-chart .setting-color:hover, aside #settings-chart .setting-visuals:hover, aside #settings-chart .setting-sounds:hover {
  -webkit-box-shadow: 0px 0px 30px #8f0730;
          box-shadow: 0px 0px 30px #8f0730;
}

aside #settings-chart .setting-language {
  -ms-grid-columns: 80% 1fr;
      grid-template-columns: 80% 1fr;
}

aside #settings-chart .setting-language-name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

aside #settings-chart .setting-language-flag {
  -webkit-clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
          clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 45px;
  height: 22px;
}

aside #settings-chart #aside-chart-bottom {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}

aside #settings-chart #aside-chart-bottom #button-back, aside #settings-chart #aside-chart-bottom #button-accept {
  background-color: black;
  cursor: pointer;
  padding: 8px;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

aside #settings-chart #aside-chart-bottom #button-back:hover, aside #settings-chart #aside-chart-bottom #button-accept:hover {
  background-color: gray;
  -webkit-box-shadow: 0 0 5px gray;
          box-shadow: 0 0 5px gray;
}

footer {
  background-color: #8f0730;
  text-align: center;
  padding: 40px 0 40px 0;
  width: 100%;
  clear: both;
}
/*# sourceMappingURL=style.css.map */