$main-color: rgb(207, 9, 69);
$main-color-light: rgb(206, 56, 101);
$main-color-dark: rgb(143, 7, 48);

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: $main-color;
  color: white;
  font-family: "noto sans";
  overflow-y: hidden;
}

#play {
  color: white;
  text-align: center;
  letter-spacing: 15px;
  font-size: 30px;
  background-color: $main-color-dark;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // @keyframes dot-text-animation {
  //   from {color: white}
  //   to {color: black}
  // }
  // #dot-text {
  //   font-weight: bold;
  //   animation-name: dot-text-animation;
  //   animation-duration: 2s;
  //   animation-iteration-count: 3;
  //   animation-direction: alternate;
  // }
  #dot-text {
    display: none;
    position: relative; // necessary for js animation
    font-weight: bold;
    background-color: white;
    height: 10px;
    width: 10px;
  }
  #dot-text-2 {
    display: none;
    position: relative; // necessary for js animation
    font-weight: bold;
    background-color: white;
    height: 10px;
    width: 10px;
  }
  #name-text {
    display: none;
    position: absolute; // necessary for js animation
  }
  #play-text {
    // display: none;
    cursor: pointer;
    &:hover {
      color: $main-color-light
    }
  }
}

header {
  display: none;
  grid-area: header;
  font-size: 30px;
  background-color: $main-color-dark;
  border-right: solid white 5px;
  padding: 30px 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 30px $main-color-dark;
  text-align: center;
  letter-spacing: 15px;
}

main {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  height: 600px;
  section {
    display: none;
    #main-chart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
      background-color: $main-color-light;
      font-size: 20px;
      border: solid $main-color-dark 0px;
      box-shadow: 0px 0px 30px $main-color-dark;
      #prompt {
        background-color: black;
        color: white;
        width: 100%;
        padding: 40px;
        text-align: center;
        position: relative;
        top: -40px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin: 0;
      }
      #rgb-value {
        background-color: $main-color-dark;
        width: 100%;
        padding: 5px 40px 5px 40px;
        text-align: center;
        margin: 0;
        position: relative;
        top: -50px;
      }
      #score {
        #score-wins {
          // color: black;
        }
      }
      #color-chart {
        display: grid;
        grid-template-columns: fr fr fr;
        grid-template-rows: fr fr;
        grid-template-areas: "one two three" "four five six";
        .color-option {
          padding: 20px;
          margin: 10px;
          height: 30px;
          width: 30px;
          text-align: center;
          cursor: pointer;
          box-shadow: 0 0 5px white;
          &:hover {
            box-shadow: 0 0 5px black;
          }
          &:active {
            box-shadow: 0 0 5px $main-color-dark;
          }
        }
        #color-1 {
          grid-area: one;
          background-color: blue;
        }
        #color-2 {
          grid-area: two;
        }
        #color-3 {
          grid-area: three;
        }
        #color-4 {
          grid-area: four;
        }
        #color-5 {
          grid-area: five;
        }
        #color-6 {
          grid-area: six;
        }
      }
      #main-chart-bottom {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        .button-1 {
          background-color: black;
          cursor: pointer;
          padding: 8px;
          box-shadow: 0 0 5px black;
          &:hover {
            background-color: gray;
            box-shadow: 0 0 5px gray;
          }
        }
      }
    }
  }
}

aside {
  display: none;
  #settings-chart {
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
      background-color: $main-color-light;
      font-size: 20px;
      border: solid $main-color-dark 0px;
      box-shadow: 0px 0px 30px $main-color-dark;
      width: 200px;
      #settings {
        background-color: $main-color-dark;
        width: 100%;
        height: 90px;
        line-height: 90px;
        padding: 0 40px 0 40px;
        text-align: center;
        position: relative;
        top: -40px;
        letter-spacing: 3px;
      }
      .setting {
        cursor: pointer;
        width: 100%;
        padding: 0 40px 0 40px;
        text-align: center;
        &:hover {
          box-shadow: 0px 0px 30px $main-color-dark;
        }
      }
      .setting-language, .setting-difficulty, .setting-color, .setting-visuals, .setting-sounds  {
        display: none;
        font-size: 18px;
        margin: 5px 0 5px 0;
        text-align: left;
        width: 100%;
        padding: 0 40px 0 40px;
        border-bottom: dotted $main-color-dark 2px;
        cursor: pointer;
        &:hover {
          box-shadow: 0px 0px 30px $main-color-dark;
        }
      }
      .setting-language {
        grid-template-columns: 80% 1fr;
      }
      .setting-language-name {
        grid-column: 1 / 2;
      }
      .setting-language-flag {
        clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
        grid-column: 2 / 3;
        width: 45px;
        height: 22px;
      }
      #aside-chart-bottom {
        display: none;
        justify-content: flex-end;
        gap: 30px;
        #button-back, #button-accept {
          background-color: black;
          cursor: pointer;
          padding: 8px;
          box-shadow: 0 0 5px black;
          &:hover {
            background-color: gray;
            box-shadow: 0 0 5px gray;
          }
        }
      }
  }
}

footer {
  display: none;
  background-color: $main-color-dark;
  text-align: center;
  padding: 40px 0 40px 0;
  // position: absolute;
  // bottom: -100px;
  width: 100%;
  clear: both;
}
